/* 手机端css样式 */
/* 去除浏览器自带的边距 */
/* 使用百分比设置宽度 */
*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
/* 设置页面字体大小以及类型 */
body{
    font: normal 100% Helvetica,Arial,sans-serif;
}
/* 设置主容器大小 */
.container{
    width: 100%;
    height: auto;
    margin:0 auto;
}
.header{
    width: 100%;
    height: auto;
}
.header-top{
    width: 100%;
    height: 1.5em;
    text-align: right;
}
/* 登录链接 */
.login-link{
    margin-right: 1em;
}
.header a:link,.header a:visited{
    color: #B99585;
    text-decoration: none;
}
.header a:hover{
    color: red;
}
/* logo容器样式设置 */
.header-bottom-left{
    width: 100%;
    height: auto;
}
/* 图片css样式 */
.img-responsive{
    width: 70%;
    height: auto;
}
/* 内容部分样式 */
.content{
    width:100%;
    height: auto;
    background-color: #F8F8F8;
    padding-top: 1em;
    color:#3C3C3C;
}
.content-container{
    width: 96%;
    height: auto;
    margin-left: 2%;
    padding-bottom: 2em;
}
/* 注册内容编写 */
.content-container-item1{
    width: 100%;
    /* height: 29em; */
    height: auto;
    margin:0 auto;
}
.content-container-item1-top{
    width: 100%;
    height: 2em;
}
.content-container-item1-top>div{
    width: 5em;
    height: 1.875em;
    border-bottom: 2px solid #E9BD36;
    line-height: 2em;
    text-align: center;
    margin:0 auto;
}
/* 内容区底部 */
.content-container-item1-bottom{
    width: 100%;
    height: auto;
    border-top: 1px solid lightgrey;
}
.register-demand{
    width: 100%;
    height: auto;
    margin-top: 1em;
}
.register-demand-item{
    width: 100%;
    height: 2em;
    margin-bottom: 1em;
    overflow: hidden;
}
/* 代工需求分类 */
.special1{
    width: 100%;
    height: 6.5em;
}
.register-demand-item>div{
    float: left;
}
/* 输入框左边部分 */
.register-demand-item1-left{
    width: 30%;
    height: 1.875em;
    text-align: right;
    line-height: 1.875em;
    overflow: hidden;
}
/* 输入框右边部分 */
.register-demand-item1-right{
    width: 68%;
    margin-left: 2%;
    height: 2em;
}
.special1-right{
    width: 68%;
    height: 6.5em;
}
input,textarea{
    outline: none;
    border: 0;
}
/* 名称输入框 */
.register-demand-name{
    width: 200px;
    height: 32px;
    line-height: 32px;
}
/* 代工需求分类 */
.special1-right>div{
    width: 85%;
    height: 2em;
    overflow: hidden;
}
.item2-right-margin{
    margin-bottom: 0.25em;
}
/* 下拉框 */
select#select2,select#select3,select#select4{
    width: 200px;
    height: 32px;
    line-height: 32px;
    padding-right: 20px;
    text-indent: 4px;
    text-align: left;
    vertical-align: middle;
    border: 1px solid lightgrey;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: SimHei;
    font-size: 1em;
    font-weight: 500;
    color: black;
    cursor: pointer;
    outline: none;
}
div.select{
    position: relative;
    display: inline-block;
}
div.select::after{
    content: "\25bc";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 32px;
    line-height: 32px;
    vertical-align: middle;
    text-align: center;
    background: #E2E2E2;
    color: #9A9A9A;
    -moz-border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
    pointer-events: none;
}
/* 营业执照 */
.file {
    display: flex;
    width: 32px;
    height: 32px;
    background-color: red;
    overflow: hidden;
    background-image: url('../images/register/register_enterprise_01.jpg');
    background-repeat: no-repeat;
    background-size:32px 32px;
}
.file input {
    width: 32px;
    height: 32px;
    position: relative;
    top: 0;
    font-size: 0;
    opacity: 0;
    cursor: pointer;
}
/* 工厂介绍 */
.register-demand1-item{
    width: 100%;
    height: 6em;
    margin-bottom: 1em;
}
.register-demand1-item>div{
    float: left;
    overflow: hidden;
}
.register-demand1-item1-left{
    width: 30%;
    height: 1.875em;
    text-align: right;
    line-height:1.875em;
}
.register-demand1-item1-right{
    width: 68%;
    height: 6em;
    margin-left: 2%;
}
.textarea{
    width: 200px;
    height: 94px;
    border: 1px solid lightgrey;
}
/* 邮箱 */
.register-demand-item3-right{
    width: 68%;
    height: 2em;
}
.register-demand-item3-right>div{
    float: left;
    width: 98px;
    height: 2em;

}
.item3-right-margin{
    margin-right: 4px;
}
.item3-right-input{
    width: 96px;
    height: 32px;
    border: 1px solid lightgrey;
}
/* 地址 */
.special-mobile{
    width: 100%;
    height: 4.25em;
}
.special-mobile-left{
    width: 30%;
}
.special-right{
    width: 68%;
    height: 4.25em;
}
.special-right>div{
    width: 200px;
    height: 2em;
}
.special-right>div>div{
    float: left;
    width: 98px;
}
.special-right-item3{
    margin-top: 0.25em;
}
/* 下拉框 */
select#select1,select#select11{
    width: 98px;
    height: 32px;
    line-height: 32px;
    padding-right: 20px;
    text-indent: 4px;
    text-align: left;
    vertical-align: middle;
    border: 1px solid lightgrey;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: SimHei;
    font-size: 1em;
    font-weight: 500;
    color: black;
    cursor: pointer;
    outline: none;
}
div.select1{
    position: relative;
    display: inline-block;
}
div.select1::after{
    content: "\25bc";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 32px;
    line-height: 32px;
    vertical-align: middle;
    text-align: center;
    background: #E2E2E2;
    color: #9A9A9A;
    -moz-border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
    pointer-events: none;
}
.special-right-item2{
    margin-left: 4px;
}
.special-right-input{
    width: 200px;
    height: 30px;
    border: 1px solid lightgrey;
}
.register-demand-item1{
    width: 100%;
    height: 2em;
    text-align: center;
    line-height: 2em;
}
.checkbox{
    transform: scale(1.5);
    line-height: 2.5em;
    margin-right: 1em;
}
.register-demand-item2{
    width: 100%;
    height: 2em;
}
.submit-btn{
    width: 50%;
    height: 32px;
    color: #E1D2CD;
    font-weight: 700;
    background-color: #B7A39A;
    margin-left:25%;
}
/* 底部 */
.footer{
    width: 100%;
    height: auto;
    background-color: #666666;
    padding: 1em 0 1em 0;
}
.footer-container{
    width: 100%;
    height: auto;
    margin:0 auto;
    color: #FEFEFE;
}
.footer-text1{
    padding-right: 30px;
    font-size: 1.1em;
    line-height: 1.5em;
}
.footer-text2{
    padding-left: 30px;
    font-size: 1.1em;
    line-height: 1.5em;
}
.footer-copyright{
    line-height: 1em;
    font-size: 0.8em;
    line-height: 2em;
}